.bg-light{
    background-color: #fdfdfd !important;
    border-bottom: 2px solid #eee;
}

.base-nav-item{
    margin: 0 1em;
    color: rgba(0,0,0,.55);
}

.base-nav-item:hover{
    color: rgba(0,0,0,1);
}

.nav-item{
    margin: 0 1em;
    cursor: pointer;
}